
<style>
  .navbar-dark-blue {
    background-color: #0e064c; /* Replace with your desired dark blue color code */
  }
  </style>
  

  <nav class="navbar navbar-expand-lg navbar-dark navbar-dark-blue">
  <a class="navbar-brand" href="{% url 'home' %}">Operation Management System</a>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
  
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#fff;" href="{% url 'contact' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#fff;" href="{% url 'about' %}">About</a>
      </li>
      
      {% if not request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:#fff;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'Login_Page' %}">Admin</a>
          <a class="dropdown-item" href="{% url 'Login_Page' %}">Doctor</a>
          <a class="dropdown-item" href="{% url 'Login_Page' %}">H_Nurse</a>
          <a class="dropdown-item" href="{% url 'Login_Page' %}">Nurse</a>
       </li>
      {% endif %}


      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" style="color:#fff;" href="{% url 'dashboard' %}">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      
     
      <li class="nav-item">
        <a class="nav-link" style="color:#fff;" href="{% url 'Logout_Page' %}">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>