{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content %}

<div>
    <h2 class="text-center"><br/>View Nurse List</h2>
    <table id="example" class="table table-hover">
        <thead>
            <tr>
                <th>ListId</th>
                <th>Nurse Name</th>
                <th>Operation Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for i in doc %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.nurse}}</td>
                <td>{{i.operation}}</td>
            
                <td><a href="{% url 'delete_nurse_list' i.id %}" 
                       onclick="return confirm('Are You sure you want to delete?')" 
                       class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
